* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/ativarCampo/img/forms38.JPG");
    font-family: sans-serif;
}

.first-section {
    width: 100%;
    height: 100%;
}

.containe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.containe-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

input {
    margin-left: 20px;
}