* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #070708;
    font-family: sans-serif;
}

.first-section {
    width: 100%;
    height: 100%;
}

.containe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.containe-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}
.containe-2 input {
    width: 2rem;
    height: 3vh;
}

.containe-2 label {
    color: #20EA16;
    font-size: 21px;
}

input {
    margin-left: 20px;
}

.containe input {
    width: 25%;
    height: 7vh;
    border-radius: 7px;
    border: none;
    text-align: center;
    font-size: 1rem;
}

